html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.ana--div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  min-width: 1200px;
  justify-content: space-between;
  margin: 30px 150px 20px;
  font-weight: 500;
  gap: 30px;
}

.header--left--side {
  display: flex;
  gap: 20px;
  flex: 70%;
  align-items: center;
}

#logoabb {
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
  overflow: hidden;
  resize: both;
}
.header--ipoteka--mehsullari--btn {
  display: flex;
  gap: 10px;
  padding: 13px;
  background-color: white;
  border: 1px rgb(200, 196, 196) solid;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 150ms backgorund;
}

.header--ipoteka--mehsullari--btn:hover {
  background-color: rgb(211, 207, 207);
  transition: 150ms all linear;
}

.header--ipoteka--mehsullari--btn .fa-angle-down {
  transition: transform 0.3s ease-in-out 0s;
}

.header--ipoteka--mehsullari--btn:hover .fa-angle-down {
  transform-origin: center;
  transform: rotate(180deg);
}

.header--right--side {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.ipoteka--filiallari,
.mtk {
  cursor: pointer;
}
.ipoteka--filiallari:hover,
.mtk:hover {
  color: rgb(35, 35, 225);
}

#envelope1 {
  color: #0077b6;
  padding-right: 7px;
}

.header--right--side > div:first-child {
  display: flex;
  gap: 10px;
}

.ipoteka--kabineti--btn {
  padding: 13px;
  background-color: white;
  border: 1px rgb(219, 215, 215) solid;
  border-radius: 10px;
  font-size: 16px;
}
/* .header--right--side > div:first-child {
  color: rgb(69, 68, 68);
} */
.eyni--anda--hover1 > i {
  color: rgb(183, 179, 179);
  font-size: 18px;
  padding-right: 8px;
  transition: 150ms all linear;
}
/*hover temasina birde bax */
/* .eyni--anda--hover2 {
  color: rgb(107, 104, 104);
  transition: 150ms all linear;
}
.eyni--anda--hover1:hover {
  color: red;
}
.eyni--anda--hover1:hover ~ .eyni--anda--hover2 {
  color: red;
}
.eyni--anda--hover2:hover ~ .eyni--anda--hover1 {
  color: red;
} */

.ipoteka--kabineti--btn > i {
  color: rgb(183, 179, 179);
  padding: 0 8px 0 2px;
}
.ipoteka--kabineti--btn {
  cursor: pointer;
}

.everthing--until--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliding--big--div {
  display: flex;
  justify-content: center;
  background-color: #c29791;
  width: 1225px;
  height: 450px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  padding: 30px 50px 0 50px;
  gap: 20px;
  margin: auto;
}
.sliding--big--div > div:last-child {
  flex: 1;
}
.sliding--big--div > div:first-child {
  flex: 1;
}

.sliding--big--div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide--left--part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.slide--left--part > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-size: 38px;
  padding-left: 50px;
}
p {
  margin: 0;
  display: inline;
  font-size: 16px;
}

.overlapped--div {
  display: flex;
  gap: 90px;
  justify-content: center;
  width: 1200px;
  height: 120px;
  background-color: white;
  position: relative;
  top: -60px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.04) 0px 4px 6px -2px;
}
.faiz--zad {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.faiz--zad > div > div:first-child {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
}

.faiz--zad > div > div:last-child {
  color: #52525b;
}
/*buttonlara hover at*/
.buttonlar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonlar > button {
  padding: 15px;
  border: 1px rgb(219, 215, 215) solid;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 148px;
  cursor: pointer;
}

.buttonlar > button:first-child {
  background-color: #2058bb;
  color: white;
  border: none;
  transition: 200ms all linear;
}
.buttonlar > button:first-child:hover {
  background-color: #214a92;
}

.buttonlar > button:last-child {
  background-color: #f2f2f7;
  color: black;
  border: none;
  transition: 200ms all linear;
}
.buttonlar > button:last-child:hover {
  background-color: #dfdfe3;
}

hr {
  border: 1px solid rgb(239, 233, 233);
  height: 50px;
}
.slider--panel {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 1344px;
  position: relative;
  top: -30px;
}

.slider--panel > div {
  display: flex;
  width: auto;
  height: 48px;
  gap: 20px;
}

.left--panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #edf2f7;
  border-radius: 50%;
}

.middle--panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 144px;
  background-color: #edf2f7;
  border-radius: 50px;
}

.middle--panel > div {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #d5d5d9;
}
.right--panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #edf2f7;
  border-radius: 50%;
}
.ipoteka--mehsullari {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 45px;
}

.ipoteka--mehsullari > div:first-child {
  font-size: 32px;
  font-weight: 600;
}
.mehsullar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 1200px;
}

.mehsullar > div {
  height: 46px;
  font-size: 16px;
  color: #5d5a5a;
  width: auto;
  background-color: #f2f2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 150ms all linear;
}

.mehsullar > div:hover {
  background-color: #d6d6dc;
}
.mehsullar > div:first-child {
  background-color: #088dd4;
  color: white;
}

.cards {
  width: 1200px;
}

.cards > hr {
  height: 0;
  border: 1px solid #dee2e6;
}
.cards > div {
  display: flex;
  align-items: center;
  width: 1220px;
  /* height: 536px; */
  padding: 60px 0;
  gap: 48px;
}

.cards > div > div:first-child {
  width: 416px;
  height: 416px;
}

.cards > div > div:first-child > img {
  width: 416px;
  height: 416px;
  object-fit: cover;
}
.gencler--ucun > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01c4e5;
  border-radius: 30px;
  width: 416px;
  height: 416px;
  flex-grow: 1;
}

.gencler--ucun--faiz--zad {
  display: flex;
  gap: 30px;
}

.gencler--ucun--faiz--zad > div > div:first-child {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
.gencler--ucun--faiz--zad > div > div:last-child {
  color: #646466;
}
.gencler--ucun > div:last-child {
  flex-grow: 4;
}

.card--buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card--buttons > button:first-child {
  background-color: #2058bb;
  padding: 15px;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  width: 148px;
  cursor: pointer;
  transition: 200ms all linear;
}
.card--buttons > button:first-child:hover {
  background-color: #23519f;
}

.card--buttons > button:last-child {
  background-color: #f2f2f7;
  padding: 15px;
  border-radius: 10px;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 500;
  width: 148px;
  cursor: pointer;
  transition: 200ms all linear;
}
.card--buttons > button:last-child:hover {
  background-color: #d2d2da;
}

.cards > div > div > img {
  width: 600px;
  height: 416px;
  border-radius: 50px;
}

.cards > div > div:last-child {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 35px;
}

.cards > div > div:last-child > div:first-child {
  font-size: 32px;
  font-weight: 500;
}

.cards > div > div:last-child > div:nth-child(2) {
  color: #646466;
}

.xarici--gelir > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b98ab;
  border-radius: 30px;
  width: 416px;
  height: 416px;
  flex-grow: 1;
}
/*Bunlarin sekli duz deyil, duzelt*/
.aile--azvleri > div:first-child {
  background-color: #c29791;
  border-radius: 30px;
}
.aile--azvleri > div:first-child > img {
  width: 400px;
  height: 400px;
}
.hekimler--ve--muellimler > div:first-child {
  background-color: #58c9a6;
  border-radius: 30px;
}

.gence > div:first-child {
  background-color: #4f81cd;
  border-radius: 30px;
}

.yasilliq > div:first-child {
  background-color: #a5b954;
  border-radius: 30px;
}

.tikinti > div:first-child {
  background-color: #8461cd;
  border-radius: 30px;
}

.ev > div:first-child {
  background-color: #30a867;
  border-radius: 30px;
}

.mebel > div:first-child {
  background-color: #a6a15e;
  border-radius: 30px;
}

.defter > div:first-child {
  background-color: #93032e;
  border-radius: 30px;
}
.bina > div:first-child {
  background-color: #344e41;
  border-radius: 30px;
}
.tikinti2 > div:first-child {
  background-color: #a2d2ff;
  border-radius: 30px;
}
.passport > div:first-child {
  background-color: #ff8fab;
  border-radius: 30px;
}

.partnyor--sirketler--heading {
  display: flex;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 1200px;
  justify-content: space-between;
}

.partnyor--sirketler--heading > div:first-child {
  font-size: 28px;
  font-weight: 600;
}

.partnyor--sirketler--heading > div:last-child > button {
  font-size: 17px;
  padding: 15px;
  background-color: #f2f2f7;
  border-radius: 10px;
  border: none;
  width: 148px;
}
.partnyor--sirketler1 {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  width: 1200px;
  margin-bottom: 30px;
}

.partnyor--sirketler1 > div {
  width: 384px;
  height: 198px;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.partnyor--sirketler2 {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  width: 1200px;
  margin-bottom: 100px;
}

.partnyor--sirketler2 > div {
  width: 384px;
  height: 198px;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}
.partnyor--hr {
  height: 0;
  border: 1px solid #dee2e6;
}

.partnyor--sirketler1--top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 24px;
}
.partnyor--sirketler1--top > div:first-child {
  width: 60px;
  height: 60px;
}

.partnyor--sirketler1--top > div:first-child > img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.partnyor--sirketler1--top > div:last-child {
  font-size: 18px;
  font-weight: 500;
}

.partnyor--sirketler1--bottom {
  display: flex;
  padding: 24px;
  justify-content: center;
  gap: 130px;
  font-size: 16px;
  font-weight: 500;
}
.partnyor--sirketler1--bottom > div {
  display: flex;
  gap: 7px;
}

.partnyor--sirketler1--bottom > div > div > i {
  color: #e0e0e0;
}

.partnyor--sirketler2--top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 24px;
}
.partnyor--sirketler2--top > div:first-child {
  width: 60px;
  height: 60px;
}

.partnyor--sirketler2--top > div:first-child > img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.partnyor--sirketler2--top > div:last-child {
  font-size: 18px;
  font-weight: 500;
}

.partnyor--sirketler2--bottom {
  display: flex;
  padding: 24px;
  justify-content: center;
  gap: 80px;
  font-size: 16px;
  font-weight: 500;
}
.partnyor--sirketler2--bottom > div {
  display: flex;
  gap: 7px;
}

.partnyor--sirketler2--bottom > div > div > i {
  color: #e0e0e0;
}

footer {
  background-color: #f2f2f7;
  width: 100%;
  height: 618px;
  display: flex;
  justify-content: center;
}

.footer-ana--div {
  display: flex;
  justify-content: center;
}

.footer--text {
  display: flex;
  width: 1200px;
  justify-content: center;
  padding-top: 80px;
  gap: 24px;
}
.daxili--ipoteka--text {
  display: flex;
  gap: 100px;
}
.footer--left > div:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.daxili--ipoteka--text > div > div {
  margin-bottom: 15px;
  font-size: 14px;
  color: #515155;
  font-weight: 300;
}
.footer--left {
  flex: 2;
  gap: 24px;
}

.footer--right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.footer--right > div > div:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer--right > div > div:last-child > div {
  margin-bottom: 15px;
  font-size: 14px;
  color: #515155;
  font-weight: 300;
}

.socials {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  width: 1200px;
  height: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.socials > div {
  background-color: #e1e1eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.socials > div > i {
  font-size: 16px;
  color: #515155;
}
.socials > div:hover {
  transform: scale(1.05);
}

.footer--hr {
  height: 0;
  border: 1px solid #dee2e6;
}
.all-rights {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.all-rights div:last-child {
  display: flex;
  gap: 10px;
}

.all-rights div:first-child {
  color: #97979b;
  font-weight: 300;
  font-size: 14px;
}
.mega--olan--div:hover .transparant {
  visibility: visible;
  width: 1135px;
}
.mega--olan--div:hover .mega--menu {
  visibility: visible;
  width: 100%;
}

.mega--menu--header {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.mega--menu--header > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b8dd4;
  color: white;
  font-size: 16px;
  height: 28px;
  padding: 6px 20px;
  border-radius: 20px;
  transition: 150ms all linear;
}
.mega--menu--header > div:first-child:hover {
  background-color: #3f79ac;
}

.mega--menu--header > div:last-child {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f7;
  color: #515155;
  padding: 6px 20px;
  height: 28px;
  font-size: 16px;
  border-radius: 20px;
  transition: 150ms all linear;
}

.mega--menu--header > div:last-child:hover {
  background-color: #e2e2e9;
}

.mega--menu {
  visibility: hidden;
  position: absolute;
  left: 200px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 25px;
  transition: 150ms all ease-in-out;
}
.transparant {
  visibility: hidden;
  display: flex;
  width: 1135px;
  height: 335px;
  background-color: white;
  flex-direction: column;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 30px;
  border-radius: 20px;
  transition: 150ms all ease-in-out;
}
.mega--menu--context {
  display: flex;
  height: auto;
  gap: 120px;
}

.mega--menu--context :first-child {
  /* display: flex; */
  flex-direction: column;
  align-items: stretch;
  /* gap: 15px; */
  font-weight: 400;
  font-size: 14px;
  /* width: calc(1135 - 240 / 3); */
  /* flex: 1; */
}

.mega--menu--context :nth-child(2) {
  /* display: flex; */
  flex-direction: column;
  align-items: stretch;
  /* gap: 15px; */
  font-weight: 400;
  font-size: 14px;
  /* flex: 1; */
}

.mega--menu--context :last-child {
  /* display: flex; */
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.mega--menu--context img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 40%;
  background-color: #0077b6;
  border-radius: 20px;
}

.text--column1 > div {
  /* flex: 1;
  display: flex;
  align-items: center; */
  padding: 6px;
  margin-bottom: 6px;
}
.text--column1 > div:hover {
  background-color: rgb(206, 217, 221);
  border-radius: 10px;
}

.text--column2 > div {
  flex: 1;
  padding: 6px;
  margin-bottom: 6px;
}
.text--column2 > div:hover {
  background-color: rgb(206, 217, 221);
  border-radius: 10px;
}

.image--column img {
  visibility: hidden;
}

/* .text--column2 > div[data-image="img1"]:hover + .image--column > div > #img1,
.text--column2 > div[data-image="img2"]:hover + .image--column > div > #img2,
.text--column2
  > div[data-image="img3"]:hover
  + .image--column
  > div
  > img#img3 {
  visibility: visible;
}

.text--column2 > div:first-child:hover + .image--column {
  background-color: red !important;
} */

.fixed--leftside--items {
  visibility: hidden;
  position: fixed;
  /* top: 600px; */
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: red;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fixed--leftside--items > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1280px) {
  .ipoteka--kabineti--btn > span {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: 600px;
    /* padding-right: 100px; */
    /* padding-left: 100px; */
    margin-left: 0;
    margin-right: 0;
  }

  .header--left--side {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header--right--side {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header--right--side {
    display: flex;
    justify-content: flex-end;
  }

  .fixed--leftside--items {
    visibility: visible;
  }
  .mega--olan--div {
    display: none;
  }
  .ipoteka--filiallari {
    display: none;
  }
  .mtk {
    display: none;
  }
  .header--right--side {
    display: flex;
    justify-content: flex-end;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(219, 117, 228);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #0077b6;
}
